<div class="nav navbar-inverse" ng-controller="HomePageAppCtrl as ctrl">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="spaApp" style="text-decoration:None; color: white">Spa Ritz</a>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li><a ui-sref="spaApp" ui-sref-active="active">HOME</a></li>
              <li ng-if="ctrl.isUserLogon"><a ui-sref="currentBookings" ui-sref-active="active">CURRENT BOOKINGS</a></li>
              <li ng-if="ctrl.isUserLogon"><a ui-sref="newBooking" ui-sref-active="active">NEW BOOKING</a></li>

              <li ng-if="!ctrl.isUserLogon"><a ui-sref-active="SignIn" ui-sref="SignIn" >Sign In</a></li>
              <li ng-if="!ctrl.isUserLogon"><a ui-sref-active="SignUp" ui-sref="SignUp" >Sign Up</a></li>
              <li ng-if="ctrl.isUserLogon"><a ui-sref-active="active" ui-sref="MyAccount" >My Account</a></li>
              
            </ul>
          </div>
        </div>    
      </div>
      