<div class="container">
    <h3>Add Booking</h3>
    <form name="ctrl.bookingform" class="form-horizontal form-editBooking">

        <!-- <div class="form-group">
                <label for="country">Country of Origin</label>
                <select id="country" name="country" class="form-control" 
                ng-model="ctrl.user.selectedCountry" >
                    <option ng-repeat="country in ctrl.countries" value="{{country.value}}" >{{country.name}}</option>
                </select>
        </div> -->

        <div class="form-group">
            <label class="control-label col-sm-2" for="country">Outlet</label>
            <div class="col-sm-6">
                    <select id="country" name="country" class="form-control" 
                    ng-model="ctrl.booking.selectedOutlet" ng-options="outlet.name for outlet in  ctrl.outlets track by outlet.value" >
                        <!-- <option ng-repeat="outlet in ctrl.outlets" value="{{outlet.value}}" >{{outlet.name}}</option> -->
                        <option value="" disabled selected>Select Outlet</option>
                    </select>
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="staff">Staff</label>
                <div class="col-sm-6">
                        <select id="staff" name="staff" class="form-control" 
                        ng-model="ctrl.booking.selectedStaff" >
                        <option value="" disabled selected>Select Staff</option>    
                        <option ng-repeat="staff in ctrl.staffs" value="{{staff.value}}" >{{staff.name}}</option> 
                        </select>
                </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="service">Service</label>
                <div class="col-sm-6">
                        <select id="service" name="service" class="form-control" 
                        ng-model="ctrl.booking.selectedService" >
                        <option value="" disabled selected>Select Service</option>    
                        <option ng-repeat="service in ctrl.services" value="{{service.value}}" >{{service.name}}</option>
                        </select>
                </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="dob">Booking Date</label>
                <div class="col-sm-6">
                    <input id="dob" name="dob" type="date" class="form-control"
                    ng-model="ctrl.booking.dob" required/>
                    <div class="validation" data-ng-show="ctrl.bookingform.dob.$touched || ctrl.bookingform.$submitted">
                        <div data-ng-show="ctrl.bookingform.dob.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Booking date is required
                        </div>
                        <!-- <div data-ng-show="!ctrl.isLegalAge()">
                            <span class="glyphicon glyphicon-alert"></span> Must be 18 years and above
                        </div> -->
                    </div>
                </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2" for="timeslot">Time Slot</label>
                <div class="col-sm-6">
                    <input type="time" id="timeslot" name="timeslot" class="form-control" ng-model="ctrl.booking.timeslot" 
                    placeholder="HH:mm:ss" min="05:00:00" max="24:00:00" ng-change="clearslotcheck()" required />

                    <div class="validation" data-ng-show="ctrl.bookingform.timeslot.$touched || ctrl.bookingform.$submitted">
                            <div data-ng-show="ctrl.bookingform.timeslot.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Time Slot is required
                            </div>
                            <div data-ng-show="ctrl.bookingform.timeslot.$error.time">
                                    <span class="glyphicon glyphicon-alert"></span> Not a valid date!
                            </div>
                            <div data-ng-show="!ctrl.istimeslotclash()">
                                <span class="glyphicon glyphicon-alert"></span> Time slot un-available. Please choose a different slot!
                            </div>
                            <!-- <div data-ng-show="!ctrl.isLegalAge()">
                                <span class="glyphicon glyphicon-alert"></span> Must be 18 years and above
                            </div> -->
                    </div>
                </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.bookingform.$invalid" ng-click="ctrl.saveBooking()">Save</button>
            </div>
        </div>
    
    </form>
</div>