<!-- <h4>Current Bookings</h4> -->
<!-- ng-controller="BookingController as ctrl" -->
<div ng-cloak>
        <div class="container">
            
            <div class="list" ng-show="ctrl.bookings">
                <div class="row" ng-show="ctrl.bookings.length > 0">
                    <div class="list header col-lg-12 col-md-12 col-sm-12">
                            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" item-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize"  boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 booking card border-light" ng-repeat="booking in ctrl.bookings | orderBy: 'start_time'">
                        <div class="card-body">
                            <div class="imagebox">
                                <img align="middle" src="{{booking.staff.profile_url}}" class="avatar-image avatar-image--smaller" alt="">
                            </div>
                            <blockquote class="card-blockquote">
                                    <h4><label>Date: </label> {{booking.date | date:'yyyy:MM:dd'}}</h4>
                                    <h4><label>Time Slot: </label> {{booking.start_time | formatTime}}</h4>
                                    <h4><label>Service Name: </label> {{booking.service.name}}</h4>
                                    <h4><label>Service Type: </label> {{booking.service.type}}</h4>
                                    <h4><label>Service Duration: </label> {{booking.service.duration}}</h4>
                                    <h4><label>Staff: </label> {{booking.staff.name}}</h4>            

                            </blockquote>
                        </div>
                        <h4>
                            <!-- <button type="button" ng-click="ctrl.editBooking(booking.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button> -->
                            <button type="button" ng-click="ctrl.deleteBooking(booking.id, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
